.container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas:
    "header header header header"
/** 3/4 main ,1/4 sidebar κενή γραμμη με . */
    "main main main sidebar"  
    "footer footer footer footer";

    /* μπορούμε να βάλουμε ότι τιμή θέλουμε στη θέση footer, main ,header κλπ, εμείς το ορίζουμε δεν είναι semantics*/
}

.grid-item-1 {
    grid-area: header;
}

.grid-item-2 {
    grid-area: main;
}

.grid-item-3 {
    grid-area: sidebar;
}

.grid-item-4 {
    grid-area: footer;
}

div[class^="grid"] {
    border: 1px solid black;
}