body {
    background-color: lightgray;
}

p, li { 
    color: red;

}

/* li { 
    color: red;

} */

.aueb-logo {
    border: 3px solid green;
    width: 400px;
     
}

img.aueb-logo{
    height: auto;
}

p.aueb-logo{
    color: blue;
}

 /* p { 
    color: yellow;
} */

ul > li{            /*άμεσοι απόγονοι*/
    color: blue;

}
/* ul li{
    color: blue;

} */

h1 + p {     /*στο ίδιο επίπεδο, στη 1η παραγραφο μετά το h1*/
    color:orange;
}

.link-cf:link{
    text-decoration: none;
    color: black;
}

.link-cf:visited{
    color: brown;
}

.link-cf:link:hover{
    background-color: green;
}

.link-cf:focus{
    outline:none ;
    background-color: yellow;
}

.link-cf:active{
    background-color: chocolate;
}
 
#aueblogo{
    color: lightskyblue;
}

.border-green-1 {
    border: 1px solid green;
}

.border-green-2 {
    border: 2px solid green;
}

.text-blue{
    color: blue;
}