/* body {
    background-color: red;
    color: blue;
} */

/* @media all {
    body {
        background-color: orange;
        color: aqua;
    }
} */


/*απο 992px έως μεγαλύτερο που υπάρχει  */
/*When the screen width is 992px or larger, the styles inside this block become active.*/
@media (min-width:992px) {
    body {
        background-color: green;
    }
}


/*απο 0 έως 992px */
/*When the browser viewport is ≤ 992px, the CSS inside the block becomes active.*/
@media (max-width:992px) {
   body{ 
        background-color: yellow;
    }

}